.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
/vendor
composer.phar
.DS_Store
phpunit.phar
/phpunit.xml
tests/_output/*
tests/_support/_generated
/.vagrant
/web/assets/*
!/web/assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
